[submodule "rwkv"]
	path = rwkv
	url = https://github.com/OpenMOSE/RWKV-LM-RLHF.git
[submodule "OpenRLHF"]
	path = OpenRLHF
	url = https://github.com/OpenRLHF/OpenRLHF.git
[submodule "MoBA"]
	path = MoBA
	url = https://github.com/MoonshotAI/MoBA.git
