[submodule "tasks/LIF/LIFBench-2024"]
	path = tasks/LIF/LIFBench-2024
	url = https://github.com/SheldonWu0327/LIFBench-2024.git
[submodule "tasks/retrieval/LLMTest_NeedleInAHaystack"]
	path = tasks/retrieval/LLMTest_NeedleInAHaystack
	url = https://github.com/gkamradt/LLMTest_NeedleInAHaystack.git
[submodule "models/rwkv/RWKV-PEFT"]
	path = models/rwkv/RWKV-PEFT
	url = https://github.com/Joluck/RWKV-PEFT.git
[submodule "tasks/business"]
	path = tasks/business/matrix
	url = https://github.com/bwllaming/matrix-paper.git
